
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-NFB {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-3-NFB .rectangle-44-eCh {
  width: 111.5rem;
  height: 83.3rem;
  position: absolute;
  left: 0;
  top: 18.6rem;
  background-color: rgba(255, 174, 99, 0.1000000015);
}
.desktop-3-NFB .component-13-ZqT {
  box-sizing: border-box;
  padding: 1.2rem 0.9rem 1.9rem 1.9rem;
  width: 88.7rem;
  height: 17.1rem;
  position: absolute;
  left: 10.7rem;
  top: 70.8rem;
  display: flex;
  align-items: center;
  border: solid 0.4rem rgba(255, 174, 99, 0.5);
  background-color: #ffffff;
}
.desktop-3-NFB .component-13-ZqT .obrzok-3-SuF {
  margin: 1rem 2rem 0rem 0rem;
  width: 17.4rem;
  height: 13rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-gvpx-kf3 {
  margin: 0rem 7.2rem 1.9rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-gvpx-kf3 .predm-vkonn-honor-70-h4V {
  margin: 0rem 0rem 1.1rem 0.049rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #ffae63;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-gvpx-kf3 .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-NwK {
  max-width: 38.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-gvpx-kf3 .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-NwK .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-NwK-sub-0 {
}
.desktop-3-NFB .component-13-ZqT .auto-group-gvpx-kf3 .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-NwK .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-NwK-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: rgba(255, 174, 99, 0.6000000238);
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT {
  margin-bottom: 0.4rem;
  width: 20.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT .heart-fill-1-nXB {
  margin-bottom: 1.7rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT .component-18-XUm {
  margin: 0rem 2.4rem 1.6rem 2rem;
  box-sizing: border-box;
  padding: 1rem 2.1rem 1rem 1.9rem;
  width: calc(100% - 4.4rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffae63;
  background-color: rgba(255, 174, 99, 0.1000000015);
  border-radius: 4.9rem;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT .component-18-XUm .cash-coin-4-3CD {
  margin-right: 0.9rem;
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT .component-18-XUm .item-870--BJR {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT .component-18-XUm .item-870--BJR .item-870--BJR-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT .component-18-XUm .item-870--BJR .item-870--BJR-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-13-ZqT .auto-group-e3a9-fhT .adam-kovacs-040-11-koice-GDP {
  margin-right: 0.4rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-NFB .rectangle-20-w4d {
  width: 42.4rem;
  height: 16.5rem;
  position: absolute;
  left: 8.5rem;
  top: 22.7rem;
  border: solid 0.6rem rgba(255, 174, 100, 0.4499999881);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4rem;
}
.desktop-3-NFB .mobiln-telefny-2rm {
  width: 26.1rem;
  height: 4rem;
  position: absolute;
  left: 20.3rem;
  top: 30.9rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #111111;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .kategria--LcZ {
  width: 11.8rem;
  height: 3rem;
  position: absolute;
  left: 20.3rem;
  top: 26.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .smartphone-1-rL1 {
  width: 8.4rem;
  height: 8.4rem;
  position: absolute;
  left: 10.7rem;
  top: 26.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-NFB .spoahlivos-P53 {
  width: 19.3rem;
  height: 4rem;
  position: absolute;
  left: 114.5rem;
  top: 74.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .rectangle-10-HgD {
  width: 146.5rem;
  height: 15.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem rgba(255, 174, 99, 0.5);
  box-sizing: border-box;
  background-color: #ffffff;
}
.desktop-3-NFB .rectangle-9-cyP {
  width: 144rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 14.1rem;
  border: solid 1.5rem rgba(255, 174, 99, 0.5);
  box-sizing: border-box;
  background-color: #ffae63;
}
.desktop-3-NFB .bazosk-LuP {
  width: 36.4rem;
  height: 10.7rem;
  cursor: pointer;
  position: absolute;
  left: 13rem;
  top: 1.7rem;
  font-size: 8.5rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffae63;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .bootstrap1-1-TDK {
  width: 7.8rem;
  height: 7.8rem;
  position: absolute;
  left: 2.9rem;
  top: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .component-5-aYq {
  width: 30.9rem;
  height: 7.8rem;
  position: absolute;
  left: 106.7rem;
  top: 3.6rem;
}
.desktop-3-NFB .component-5-aYq .obben-v6u {
  width: 9.4rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #060300;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .component-5-aYq .profil-E7b {
  width: 4.9rem;
  height: 2.5rem;
  position: absolute;
  left: 14.1rem;
  top: 5.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .component-5-aYq .nav-options-MCD {
  width: 28.2rem;
  height: 7.8rem;
  position: absolute;
  left: 2.7rem;
  top: 0;
  display: flex;
  align-items: center;
}
.desktop-3-NFB .component-5-aYq .nav-options-MCD .auto-group-9jhb-Gpy {
  box-sizing: border-box;
  padding: 0rem 6.4rem 0rem 0.275rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-3-NFB .component-5-aYq .nav-options-MCD .auto-group-9jhb-Gpy .bag-heart-1-CyX {
  margin-right: 7.575rem;
  width: 3.85rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-5-aYq .nav-options-MCD .auto-group-9jhb-Gpy .person-circle-1-LZw {
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-5-aYq .nav-options-MCD .auto-group-xbl5-s45 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-NFB .component-5-aYq .nav-options-MCD .auto-group-xbl5-s45 .plus-circle-fill-1-Ddj {
  margin: 0rem 0rem 0.9rem 0.1rem;
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-5-aYq .nav-options-MCD .auto-group-xbl5-s45 .prida-jc5 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-NFB .rectangle-42-sCV {
  width: 1.6rem;
  height: 84.3rem;
  position: absolute;
  left: 142.4rem;
  top: 18.1rem;
  background-color: rgba(217, 217, 217, 0.5);
}
.desktop-3-NFB .rectangle-43-beH {
  width: 1.6rem;
  height: 5rem;
  position: absolute;
  left: 142.4rem;
  top: 18.6rem;
  background-color: #bcbcbc;
}
.desktop-3-NFB .line-14-8eD {
  width: 0.2rem;
  height: 83.8rem;
  position: absolute;
  left: 111.5rem;
  top: 18.6rem;
  background-color: #ffae63;
}
.desktop-3-NFB .znaka-TwP {
  width: 11.3rem;
  height: 4rem;
  position: absolute;
  left: 114.5rem;
  top: 21.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .model-NoT {
  width: 9.1rem;
  height: 4rem;
  position: absolute;
  left: 114.7rem;
  top: 36.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .farba-6UZ {
  width: 8.8rem;
  height: 4rem;
  position: absolute;
  left: 114.7rem;
  top: 55.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .rectangle-52-cSu {
  width: 15.5rem;
  height: 4.1rem;
  position: absolute;
  left: 119.8rem;
  top: 27.1rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-3-NFB .rectangle-53-CR7 {
  width: 17.3rem;
  height: 4.1rem;
  position: absolute;
  left: 119.8rem;
  top: 43.4rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-3-NFB .rectangle-54-5zh {
  width: 17.3rem;
  height: 4.1rem;
  position: absolute;
  left: 119.8rem;
  top: 49.3rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-3-NFB .apple-PkV {
  width: 6.4rem;
  height: 3rem;
  position: absolute;
  left: 122.7rem;
  top: 27.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .polygon-1-hWH {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 131.9rem;
  top: 28.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .polygon-2-2YZ {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 134.2rem;
  top: 44.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .polygon-3-kjT {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 134.3rem;
  top: 50.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .prida-variant-VBF {
  width: 11.5rem;
  height: 2rem;
  position: absolute;
  left: 123.4rem;
  top: 32.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .prida-variant-bEH {
  width: 11.5rem;
  height: 2rem;
  position: absolute;
  left: 126.2rem;
  top: 54rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .iphone-13-W6M {
  width: 10.4rem;
  height: 3rem;
  position: absolute;
  left: 122.4rem;
  top: 43.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .iphone-11-cv5 {
  width: 10rem;
  height: 3rem;
  position: absolute;
  left: 122.4rem;
  top: 49.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .rectangle-55-jjo {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 116.9rem;
  top: 61.2rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffae63;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-65-FTF {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 116.9rem;
  top: 82.7rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffae63;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-61-mRb {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 130.3rem;
  top: 67.8rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-59-H93 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 130.3rem;
  top: 61.2rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-60-AyX {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 130.3rem;
  top: 64.6rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-56-J49 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 116.9rem;
  top: 64.6rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-57-Qcy {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 116.9rem;
  top: 67.8rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-64-XxV {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 116.9rem;
  top: 88.5rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-63-4Sd {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 116.9rem;
  top: 85.6rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .rectangle-62-Bn9 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 116.9rem;
  top: 79.8rem;
  border: solid 0.1rem #ffae63;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.desktop-3-NFB .ierna-K7f {
  width: 4.9rem;
  height: 2rem;
  position: absolute;
  left: 120.2rem;
  top: 61.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .zelen-F1K {
  width: 5.1rem;
  height: 2rem;
  position: absolute;
  left: 133.6rem;
  top: 67.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .lt-xwK {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 133.6rem;
  top: 64.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .fialov-Hyb {
  width: 5.4rem;
  height: 2rem;
  position: absolute;
  left: 133.6rem;
  top: 61.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .erven-2AV {
  width: 6.4rem;
  height: 2rem;
  position: absolute;
  left: 120.3rem;
  top: 67.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .siv-x49 {
  width: 3.1rem;
  height: 2rem;
  position: absolute;
  left: 120.2rem;
  top: 64.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .star-1-sgu {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 120.5002rem;
  top: 79.6686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-4-CjB {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 128.8002rem;
  top: 79.6686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-3-wAy {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 126.1002rem;
  top: 79.6686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-2-5HB {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 123.2002rem;
  top: 79.6686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-16-QKT {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 120.5002rem;
  top: 88.3686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-11-waH {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 120.5002rem;
  top: 85.4686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-15-He9 {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 123.2002rem;
  top: 85.4686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-6-RkM {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 120.5002rem;
  top: 82.5686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-9-Zbf {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 126.1002rem;
  top: 82.5686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .star-10-hxm {
  width: 2.2rem;
  height: 2.0627rem;
  position: absolute;
  left: 123.2002rem;
  top: 82.5686rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-NFB .najsledovanejie-inzerty--rKs {
  width: 30.2rem;
  height: 3rem;
  position: absolute;
  left: 10.3rem;
  top: 42.7rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-NFB .component-12-kRF {
  width: 88.7rem;
  height: 17.1rem;
  position: absolute;
  left: 10.6rem;
  top: 50.3rem;
  border: solid 0.4rem rgba(255, 174, 99, 0.5);
  box-sizing: border-box;
  background-color: #ffffff;
}
.desktop-3-NFB .component-12-kRF .auto-group-7axh-5yK {
  width: 38.8rem;
  height: 14.4rem;
  position: absolute;
  left: 21.3rem;
  top: 1.2rem;
}
.desktop-3-NFB .component-12-kRF .auto-group-7axh-5yK .samsung-note-9-top-E5X {
  margin: 0rem 0rem 1.4rem 0.049rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #ffae63;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-NFB .component-12-kRF .auto-group-7axh-5yK .samsung-note-9-top-E5X .samsung-note-9-top-E5X-sub-0 {
}
.desktop-3-NFB .component-12-kRF .auto-group-7axh-5yK .samsung-note-9-top-E5X .samsung-note-9-top-E5X-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #ff0000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-12-kRF .auto-group-7axh-5yK .dobr-de-predm-samsung-note-9-v-100-stave-kupovan-v-nay-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-9Lu {
  max-width: 38.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-12-kRF .auto-group-7axh-5yK .dobr-de-predm-samsung-note-9-v-100-stave-kupovan-v-nay-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-9Lu .dobr-de-predm-samsung-note-9-v-100-stave-kupovan-v-nay-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-9Lu-sub-0 {
}
.desktop-3-NFB .component-12-kRF .auto-group-7axh-5yK .dobr-de-predm-samsung-note-9-v-100-stave-kupovan-v-nay-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-9Lu .dobr-de-predm-samsung-note-9-v-100-stave-kupovan-v-nay-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-9Lu-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: rgba(255, 174, 99, 0.6000000238);
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-12-kRF .component-18-ZJ9 {
  box-sizing: border-box;
  padding: 1rem 2.5rem 1rem 1.9rem;
  width: 16.3rem;
  height: 6rem;
  position: absolute;
  left: 69.1rem;
  top: 5.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffae63;
  background-color: rgba(255, 174, 99, 0.1000000015);
  border-radius: 4.9rem;
}
.desktop-3-NFB .component-12-kRF .component-18-ZJ9 .cash-coin-4-MUu {
  margin-right: 0.9rem;
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-12-kRF .component-18-ZJ9 .item-870--5vh {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-3-NFB .component-12-kRF .component-18-ZJ9 .item-870--5vh .item-870--5vh-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-12-kRF .component-18-ZJ9 .item-870--5vh .item-870--5vh-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-12-kRF .auto-group-xls5-qHb {
  width: 20.6999rem;
  height: 13.9rem;
  position: absolute;
  left: 67.1rem;
  top: 1.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.desktop-3-NFB .component-12-kRF .auto-group-xls5-qHb .heart-1-Mmj {
  margin-bottom: 9.75rem;
  width: 2.3999rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-12-kRF .auto-group-xls5-qHb .adam-kovacs-040-11-koice-hqb {
  margin-right: 0.3999rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-NFB .component-12-kRF .obrzok-2-pQR {
  width: 17.4rem;
  height: 13rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-NFB .component-14-8R7 {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1rem 2rem;
  width: 88.7rem;
  height: 17.1rem;
  position: absolute;
  left: 10.7rem;
  top: 91.4rem;
  display: flex;
  align-items: center;
  border: solid 0.4rem rgba(255, 174, 99, 0.5);
  background-color: #ffffff;
}
.desktop-3-NFB .component-14-8R7 .obrzok-4-pYq {
  margin: 0rem 1.9rem 0.5rem 0rem;
  width: 17.4rem;
  height: 13rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-xmxp-Ln5 {
  margin: 0rem 7.2rem 2.6rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-xmxp-Ln5 .xiaomi-mi-11i-sn1 {
  margin: 0rem 0rem 1.1rem 0.049rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #ffae63;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-xmxp-Ln5 .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-aRX {
  max-width: 38.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-xmxp-Ln5 .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-aRX .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-aRX-sub-0 {
}
.desktop-3-NFB .component-14-8R7 .auto-group-xmxp-Ln5 .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-aRX .dobr-de-predm-iphone-model-13-pro-v-100-stave-kupovan-v-apple-istores-koice-11112021-ie-je-presne-ete-rok-v-zruke-do-11-2023-iphone-bol-od-nova-pouvan-zobrazi-viac-aRX-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: rgba(255, 174, 99, 0.6000000238);
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT {
  margin-bottom: 1.3rem;
  width: 20.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT .heart-1-369 {
  margin-bottom: 1.9rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT .component-18-ykV {
  margin: 0rem 2.4rem 1.6rem 2rem;
  box-sizing: border-box;
  padding: 1rem 2.1rem 1rem 1.9rem;
  width: calc(100% - 4.4rem);
  height: 6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffae63;
  background-color: rgba(255, 174, 99, 0.1000000015);
  border-radius: 4.9rem;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT .component-18-ykV .cash-coin-4-41F {
  margin-right: 0.9rem;
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT .component-18-ykV .item-870--wqj {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT .component-18-ykV .item-870--wqj .item-870--wqj-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT .component-18-ykV .item-870--wqj .item-870--wqj-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
}
.desktop-3-NFB .component-14-8R7 .auto-group-vv9p-JPT .adam-kovacs-040-11-koice-Uz5 {
  margin-right: 0.4rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-NFB .rectangle-69-myB {
  width: 20.9rem;
  height: 4.2rem;
  cursor: pointer;
  position: absolute;
  left: 117.1rem;
  top: 95.8rem;
  background-color: #ffae63;
  border-radius: 1.2rem;
}
.desktop-3-NFB .aplikova-6Em {
  width: 11rem;
  height: 3rem;
  position: absolute;
  left: 122.5rem;
  top: 96.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
